# Python
*.pyc
*~
__pycache__

# ENV
.env
venv/
env/

# Database
db.sqlite3
database.sqlite3
.DS_Store
*.db

# Static folder
/static/
assets/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Uploaded files
uploaded_files/

# Testing
.pytest_cache/

# Logging
logs/