.post {
  max-width: 30%;
}

.post-description {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.post-description .post-creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid hsl(0, 0%, 50%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

.post-description .post-creator h4 {
  font-size: 1em;
  margin: 0;
}

.post-description .post-creator p {
  font-style: italic;
}

.post-description .post-comments-container .comment {
  margin-bottom: 2em;
}

.post-description .post-comments-container .comment i {
  display: block;
  font-size: 0.8em;
}

.more-less {
  text-align: right;
}

.more-less span {
  display: inline-block;
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more-less span:hover {
  color: #000;
}

@media screen and (width <= 768px) {
  .post {
    max-width: 100%;
  }
}

@media screen and (768px < width < 1200px) {
  .post {
    max-width: 45%;
  }
}
