.post {
  max-width: 30%;
  min-width: 30%;
}

.post-description {
  color: #000;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.post-description .post-creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: capitalize;
  padding: 1rem 0;
  border-top: 1px solid hsl(0, 0%, 50%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

.post-description .post-creator h4 {
  font-size: 1em;
  margin: 0;
}

.post-description .post-creator p {
  font-style: italic;
  font-size: 0.8em;
}

.post-description .post-creator .del-btn {
  margin: 0 auto;
}

.post-header,
.post-footer {
  display: flex;
  align-items: center;
}

.post-header {
  justify-content: space-between;
}

.post-footer {
  justify-content: end;
}

.post-header .more-less-toggler,
.post-footer .more-less-toggler {
  text-align: right;
  display: inline-block;
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.post-header .more-less-toggler:hover,
.post-footer .more-less-toggler:hover {
  color: #000;
}

.del-confirm {
  background-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  padding: 1rem;
  color: hsl(0, 0%, 0%);
}

.del-confirm .confirm-btn-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (width <= 768px) {
  .post {
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (768px < width < 1200px) {
  .post {
    max-width: 45%;
    min-width: 45%;
  }
}
