body {
  background-color: hsl(0, 15%, 66%);
}

#root {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.app-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5em;
  text-align: center;
}

.posts-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(1rem, 10vw + 0.5rem, 2rem);
  width: 100%;
  height: auto;
  max-width: 80%;
  margin: 0 auto;
  padding: clamp(1rem, 10vw + 0.5rem, 4rem);
}

.posts-container .no-posts {
  width: 100%;
  font-size: 3em;
  text-align: center;
}
